<!DOCTYPE HTML>
<div  class="wrapper">
  <nav id ="sidebar" class="sidebar-header" *ngIf="showmenu">

      <ul class="list-unstyled components">
            <p>INDIA</p>
          <li class="active">
              <a href="">Home</a>
              
          </li>
          <li>
              <a href="">Description</a>
              
          </li>
          <li>
              <a href="">About</a>
              
          </li>
      </ul>
    </nav>
    <div id="content" >

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button  class="" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" (click)="showmenu=!showmenu" aria-expanded="false" aria-label="Toggle navigation">
                   >
                </button>
                <!-- <button *ngIf="showmenu" class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" (click)="showmenu = false" aria-expanded="false" aria-label="Toggle navigation">
                 </button>
  -->
            </div>
        </nav>
        
        <h2>India As a Country.</h2>
        <p>India is the world's largest democracy and according to UN estimates, its population is expected to overtake China's in 2028 to become the world's most populous nation.

            As a rising economic powerhouse and nuclear-armed state, India has emerged as an important regional power.
            
            But it is also tackling huge, social, economic and environmental problems.
            
            Home to some of the world' s most ancient surviving civilizations, the Indian subcontinent - from the mountainous Afghan frontier to the jungles of Burma - is both vast and diverse in terms of its people, language and cultural traditions.
      
sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    
</div>
